@model Magazine.Models.GoodsViewModel
    
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "Goods_list"
    };
}

        <div id="Goods_list">
            @Html.Action("GetGoodsList")
        </div>
         <div id="pageLinks">
             @Ajax.PageLinks(Model.Pages, x=>Url.Action("GetGoodsList",new { id = x}), "Goods_list")
         </div>
 



        @*@foreach (var item in Model)
        {
            <div class="card" style="width: 20rem; display: inline-block; margin: 70px">
                <img class="card-img-top" src="@item.GoodPicture" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">@item.GoodName</h4>
                    <p class="card-text">@item.GoodDescription</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@item.GoodPrice</li>
                    <li class="list-group-item">@item.GoodCategory</li>
                    
                </ul>
                <div class="card-body">
                    @*<a href="#" class="card-link"> Add to a Cart </a>*@
                   @*// @Html.ActionLink("Add to a cart", "Index", "CARD", new {  }, new { @class = "btn btn-info" })
                </div>
            </div>
        }*@
      
   





